{% extends "ff/base.html" %}

{% block title %}Login Failed - Fragforce{% endblock %}

{% block body %}
<div class="row mt-4">
    <div class="col text-center">
        <h2>Login Failed</h2>
        <p class="mt-3">
            Only members of the Fragforce Discord server can log in to this site.
        </p>
        <p>
            <a href="https://discord.gg/fragforce" class="btn btn-primary" rel="noopener noreferrer" target="_blank">
                Join the Fragforce Discord
            </a>
        </p>
        <p class="mt-2">
            Once you've joined,
            <form method="post" action="{% url 'social:begin' 'discord' %}" class="d-inline m-0 p-0">
                {% csrf_token %}
                <button type="submit" class="btn btn-link">try logging in again</button>
            </form>
        </p>
    </div>
</div>
{% endblock %}
